* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* HEADER DESIGN */

.header {
  background-image: url("../img/top-banner.png");

  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  padding-top: 30px;
  margin-bottom: 150px;
}

.logo {
  padding-left: 10%;
}

.left-side {
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.menu ul li {
  display: inline;
  padding: 20px;
  text-decoration: none;
}

.menu ul li a {
  text-decoration: none;
  color: #05364d;
  font-weight: 700;
}

.logo {
  width: 40%;
  padding-left: ;
}

.chat {
  margin-left: 80px;
  text-decoration: none;
  background-color: brown;
  padding: 10px 35px;
  border-radius: 30px;
  color: #fff;
  background-image: linear-gradient(#1345e6, #ed239f);
}

.chat2 {
  text-decoration: none;
  background-color: brown;
  padding: 15px 50px;
  border-radius: 5px;
  color: #fff;
  background-image: linear-gradient(rgb(52, 65, 248), rgb(159, 105, 247));
  font-weight: 700;
}

.half-width {
  width: 50%;
  margin-left: 5%;
  margin-right: 5%;
}

.half-width img {
  width: 80%;
  height: auto;
}

h1 {
  font-size: 80px;
  color: #05364d;
  letter-spacing: 2px;
}

.new-h1 {
  font-size: 50px;
  color: #05364d;
  letter-spacing: 2px;
}
h4 {
  font-size: 20px;
  color: #797979;
  letter-spacing: 1px;
}

.para {
  font-size: 17px;
  font-weight: 100;
  color: #1d81af;
  margin-bottom: 80px;
  letter-spacing: px;
  text-align: left;
}
.intro {
  display: flex;
  margin-bottom: 150px;
}

.text {
  padding-left: 15%;
  padding-top: 100px;
}

.text2 {
  padding-right: 12%;
  padding-top: 100px;
}
